<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container mt-5 mb-5">
  <!-- 화면에 보여질 내용이 들어갈 부분 -->
  <form action="/member/save" method="post" class="row g-3" enctype="multipart/form-data">
    <input type="text" name="memberEmail" class="form-control" placeholder="이메일" onblur="email_check()"> <br>
    <div id = login_check></div>    <!-- 이메일 중복 여부를 출력하기 위한 공간 -->
    <input type="text" name="memberPassword" class="form-control" placeholder="비밀번호">
    <input type="text" name="memberName" class="form-control" placeholder="이름">
    <input type="text" name="memberMobile" class="form-control" placeholder="전화번호">
    <input type="text" name="memberBirth" class="form-control" placeholder="생년월일">
    <input type="file" name="memberProfile" class="form-control" multiple>
    <input type="submit" value="회원가입" class="btn btn-primary">
  </form>
</div>

<div th:replace="~{component/footer :: footer}"></div>

</body>

<!-- 이메일 중복 체크를 하여 login_check 공간에 중복 여부를 출력 -->
<script th:inline="javascript">
  const email_check = () => {   <!-- 이메일 중복 체크를 하여 login_check 공간에 중복 여부를 출력 -->
    const email = document.querySelector('[name="memberEmail"]').value;
    axios({
      method: "post", // http request method(get, post, put, delete...)
      url: "/dup-check",
      data: {
        memberEmail: email
      }
    }).then(res => {
      // 요청성공 후 서버에서 200 응답
      console.log("res", res);
      const area = document.querySelector("#login_check");
      area.innerHTML ="사용가능한 아이디 입니다.";
    }).catch(err => {
      // 요청실패 또는 서버에서 4xx, 5xx 응답
      console.log("err", err);
      const area = document.querySelector("#login_check");
      area.innerHTML ="이미 사용중인 아이디 입니다.";
    });

  }
</script>
</html>